{% extends "toolshareapp/base.html" %}

{% block content %}

<div class="create-form">  
	<h2>{{ reservation }}</h2>    
    	
	<div class="picture-container">
		<img src="{{ reservation.tool.picture_url.url }}" />
	</div>	
	
    <table>
        <tbody>
            <tr>
                <th>
                    <label for="status">Status:</label>
                </th>
                <td>
                    <span id="status">{{ reservation.status}}</span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="borrower">Borrower:</label>
                </th>
                <td>
                    <span id="borrower">
						<a href="{% url 'user.details' reservation.user.id %}" title="{{ reservation.user }}">{{ reservation.user }}</a>
					</span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="lender">Lender:</label>
                </th>
                <td>
                    <span id="lender">
						<a href="{% url 'user.details' reservation.tool.owner.id %}" title="{{ reservation.tool.owner }}">{{ reservation.tool.owner }}</a>
					</span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="tool">Tool:</label>
                </th>
                <td>
                    <span id="tool">{{ reservation.tool.name}}</span>
                </td>
            </tr>
			{% if reservation.pickup_arrangement %}
				<tr>
					<th>
						<label for="pickup_arrangement">Pickup Arrangement:</label>
					</th>
					<td>
						<span id="pickup_arrangement">{{ reservation.pickup_arrangement}}</span>
					</td>
				</tr>
			{% endif %}
			{% if reservation.comment %}
				<tr>
					<th>
						<label for="pickup_arrangement">Borrower Comment:</label>
					</th>
					<td>
						<span id="pickup_arrangement">{{ reservation.comment}}</span>
					</td>
				</tr>
			{% endif %}
        </tbody>
    </table>

	{% if reservation.user_id == request.user.id  %} <!--If it's outgoing. If I'm the borrower. i.e. If i'm asking to borrow a tool-->
		{% if reservation.status == pending_approval or reservation.status == awating_for_start_date %}
			<form action="{% url 'reservation.cancel_borrow.post' reservation.id %}" method="post" class="inline">{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>                
		{% endif %}
		
		{% if reservation.status == ongoing or reservation.status = pending_return%}
			<form action="{% url 'reservation.return_tool.post' reservation.id %}" method="post" class="inline">{% csrf_token %}
				<input type="submit" value="Return" />
			</form>
		{% endif %}
	{% endif %}
	
	{% if reservation.user_id != request.user.id  %} <!--If it's incoming. If I'm the lender. i.e. If i'm being asked to lend a tool-->
		{% if reservation.status == awating_for_start_date or reservation.status == ongoing %}
			<form action="{% url 'reservation.cancel_lend.post' reservation.id %}" method="post" class="inline">{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>                    
		{% endif %}
		
		{% if reservation.status == pending_approval %}
			<form action="{% url 'reservation.detail.approve.post' reservation.id %}" method="post">{% csrf_token %}
				<label for="id_pickup">Pickup:</label>
				{{ approval_form.pickup }}
				<input type="submit" value="Approve" />
				{{ approval_form.pickup.errors }}
			</form>

			<form action="{% url 'reservation.detail.reject.post' reservation.id %}" method="post">{% csrf_token %}
				<label for="id_reason">Reason:</label>
				{{ rejection_form.reason }}
				<input type="submit" value="Reject" />
				{{ rejection_form.reason.errors }}
			</form>             
		{% endif %}
		
		{% if reservation.status == pending_return_acknowledge %}
			<form action="{% url 'reservation.acknowledge_return.post' reservation.id %}" method="post" class="inline">{% csrf_token %}
				<input type="submit" value="Acknowledge Return" />
			</form>
		{% endif %}
	{% endif %}
	
	<ul class="reservation-history-list-container">
		{% for reservation_history in reservationhistory_set %}
			<li class="reservation-history-item-container">
				Reservation was {{ reservation_history.event }} by {{ reservation_history.user }} on {{ reservation_history.event_date }}
			</li>
		{% endfor %}
	</ul>
	
</div>
	

{% endblock %}